footer
    background: rgba($main, 0.8)
    padding: 2rem
    color: white
    margin-top: 2rem  
    .footer-wrapper
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 20px
    .footer-wrapper .footer-unit
        li
            margin-bottom: 0.4rem
            font-size: 1rem
            color: rgba(white, 0.5)
            &.title
                font-size: 1.4rem
                color: rgba(white, 0.2)

@media(max-width: 750px)
    footer .footer-wrapper
        grid-template-columns: repeat(2, 1fr)

@media(max-width: 400px)
    footer .footer-wrapper
        grid-template-columns: repeat(1, 1fr)