.loader {
    background: $main;
    color: white; 
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.loader.active {
    display: flex;
}