#testimonial
    .main-wrapper
        width: 640px
        max-width: 90%
        margin: 0 auto
    .text-wrapper .text-unit
        display: none
        &.active
            display: block
    .users-wrapper
        background: pink
        .cover
            width: 80px
            height: 80px
            background: orange