#testimonial
    margin-bottom: 2rem
    .main-title
        margin-bottom: 0.8rem
    .wrapper
        width: 960px
        max-width: 95%
        margin: 0 auto
        .text-wrapper
            margin-bottom: 1rem
        .text-unit
            display: none
            font-size: 1.4rem
            text-align: center
            padding: 1rem
            line-height: 1.2
            .quote-mark
                font-size: 4rem
                color: $main
                text-align: center
            &.active
                display: block
        .thumb-wrapper
            display: flex
            justify-content: center
            align-items: center
            .thumb-unit
                width: 50px
                height: 50px
                background: orange
                margin: 0rem 0.5rem
                border-radius: 50%
                transition: all ease-in-out 300ms
                cursor: pointer
                &.active
                    width: 100px
                    height: 100px
                    display: block
                background:
                    size: cover
                    position: center
                &:nth-child(1)
                    background-image: url(../images/patients/patient-1.png)
                &:nth-child(2)
                   background-image: url(../images/patients/patient-2.jpg)
                &:nth-child(3)
                   background-image: url(../images/patients/patient-3.jpg)
                


@media(max-width: 650px)
    #testimonial
        .main-title
            marrin-bottom: 0.8rem
            
        .text-wrapper
            padding: 0
            background: pink
            .text-unit
                font-size: 1rem
                .quote-mark
                    font-size: 3rem
                    text-align: center

