#user-profile .user-wrapper
    width: 540px
    max-width: 90%
    margin: 0 auto
    .profile
        width: 100%
        padding-top: 100%
        margin-bottom: 1rem
        background:
            image: url(../images/doctors/doctor-1.jpg)
            size: cover
            position: center
    .content
        .text-wrapper
            margin-bottom: 2rem
        p
            font-size: 1.2rem
            margin-bottom: 0.3rem
            &.name
                text-transform: capitalize
                font-size: 1.4rem
    .cta-wrapper
        text-align: left
        .cta
            display: block
            width: 100%
            text-align: center

