// styling of users
#users
    min-height: 100vh
.users-wrapper
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 20px
    width: 100%
    .user-unit
        text-align: center
        .cover
            width: 100%
            padding-top: 130%
            margin-bottom: 0.8rem
            background:
                size: cover
                position: center
        .content
            p
                font-size: 0.8rem

@media(max-width: 960px)
    .users-wrapper
        grid-template-columns: repeat(3, 1fr)


@media(max-width: 550px)
    .users-wrapper
        grid-template-columns: repeat(2, 1fr)

@media(max-width: 400px)
    .users-wrapper
        display: block
        
