#user-profile
    min-height: 100vh
    .user-wrapper
        width: 540px
        max-width: 90%
        margin: 0 auto
        .profile
            width: 400px
            heigh: 400px
            margin: 0 auto 20px
            padding-top: 100%
            background:
                size: cover
                position: center
    
        .text-wrapper
            margin-bottom: 2rem
            text-align: center
            p
                font-size: 1rem
                margin-bottom: 0.5rem
                &.name
                    font-size: 2rem
           
        .cta-wrapper
            text-align: left
            .cta
                display: block
                width: 100%
                text-align: center

